<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" [routerLink]="['']"  class="header item">Home
    </a>
    <a href="#" [routerLink]="['list']" class="header item">Articles</a>
    <a href="#" [routerLink]="['list/new-article']" class="header item">New Article</a>
    <a href="#" [routerLink]="['about']" class="header item">About</a>
    <a href="#" [routerLink]="['/login']" class="header item">Log Out</a>
    <div class="header item borderless">
      <h1 class="ui header">
        Simple App
      </h1>
    </div>
  </div>
</div>
<div class="">
    <alert></alert>
    <router-outlet></router-outlet>
</div>


